.canvas-container
{
	overflow: hidden;
	transform-origin: top left;
	cursor: crosshair;
	border: 1px solid white;
	background-color: black;
	canvas
	{


		float: left;
		&.first-in-row
		{
			clear: left;
		}

		image-rendering: optimizeSpeed;             // Older versions of FF
		image-rendering: -moz-crisp-edges;          // FF 6.0+
		image-rendering: -webkit-optimize-contrast; // Safari
		image-rendering: -o-crisp-edges;            // OS X & Windows Opera (12.02+)
		image-rendering: pixelated;                 // Awesome future-browsers
		-ms-interpolation-mode: nearest-neighbor;   // IE
	}

}